.el-message-box {
  padding-top: 20px;
}
.el-message-box__title {
  font-size: 14px;
  color: var(--el-text-color-regular);
  font-weight: 550;
}

.el-message-box__container {
  padding-top: 8px;
  color: var(--el-text-color-regular);
  font-size: 14px;
}

.el-message-box__headerbtn {
  top: 12px;
  right: 4px;
}
