:root {
  --bg-color: #f2f3f5;
  --box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
  --border-radius: 4px;
}

html,
body,
#app {
  height: 100vh;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, 'Helvetica Neue', sans-serif;
  color: var(--el-text-color-regular);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.ellipsis-text {
  /* 1. 强制文本在一行内显示 */
  white-space: nowrap;

  /* 2. 隐藏超出部分 */
  overflow: hidden;

  /* 3. 用省略号来代替被隐藏的文本 */
  text-overflow: ellipsis;
}

.page-layout {
  height: 100%;
  --box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.el-menu--collapse > .el-sub-menu > .el-sub-menu__title {
  justify-content: center;
  padding: 0;
}

.el-drawer {
  --el-drawer-padding-primary: 0 !important;
}

.el-drawer__body {
  padding: 0 !important;
}
