@use './drawer.scss';
@use './dialog.scss';
@use './table.scss';
@use './scrollbar.scss';

html,
body,
#app {
  height: 100vh;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, 'Helvetica Neue', sans-serif;
  color: var(--el-text-color-regular);
  font-size: 14px;
}

:root {
  --bg-color: #fafbfc;
  --box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
  --border-radius: 4px;

  --el-menu-bg-color: #344058;
  --el-menu-text-color: #bfcbd9;
  --el-menu-hover-bg-color: #344058;
  --el-menu-base-level-padding: 20px;
  --el-menu-level-padding: 28px;
}

.el-sub-menu .el-menu-item {
  background-color: #434f67;
}

.el-sub-menu__title:hover {
  color: var(--el-color-white);
}

.el-menu-item:hover {
  color: var(--el-color-white);
}

.el-menu-item.is-active {
  background-color: var(--el-color-primary);
  color: var(--el-color-white);
}

.el-menu--collapse > .el-sub-menu > .el-sub-menu__title {
  justify-content: center;
  padding: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.ellipsis-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page-container {
  height: 100%;
}

.app-setting-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  height: 33px;

  &:hover {
    background-color: var(--el-fill-color-light);
  }

  .app-setting-label {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
    color: var(--el-text-color-regular);
    text-align: right;
    padding: 0 8px;
  }

  .app-setting-icon {
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--el-text-color-secondary);
  }
}

.el-message-box__status {
  font-size: 24px !important;
}
